#title {
  margin-left: auto;
  margin-right: auto;
  width: 7em;
}

#tabela {
  margin-left: auto;
  margin-right: auto;
}

.color {
  border: solid 1px black;
  width: 40px;
  height: 40px;
}

#colorBlack {
  background-color: black;
}

#colorRed {
  background-color: red;
}

#colorBlue {
  background-color: blue;
}

#colorGreen {
  background-color: green;
}

#pixel-board {
  display: grid;
  grid: auto-flow / repeat(5, auto);
  justify-content: center;
}

.pixel {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  background-color: white;
  color: white;
}

#clear-board {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#sizePiece {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 50px;
}
